<mat-toolbar color="primary" class="navbar">
  <span class="navbar-text">CSIR-NATIONAL PHYSICAL LABORATORY</span>
</mat-toolbar>

<div class="login-container">

  <!-- login.component.html -->
<!-- login.component.html -->
<div class="login-card">
  <div class="login-form" [ngClass]="{ 'signup-mode': !isLoginMode }">
    <h2>{{ isLoginMode ? 'Login' : 'Signup' }}</h2>
    <form (ngSubmit)="submitForm()">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" [(ngModel)]="email" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" [(ngModel)]="password" required>
      </div>
      <button type="submit" class="btn-login">{{ isLoginMode ? 'Login' : 'Signup' }}</button>
    </form>
    <button class="btn-toggle" (click)="toggleFormMode()">{{ isLoginMode ? 'Switch to Signup' : 'Switch to Login' }}</button>
  </div>
</div>


  
</div>
